/* RESET STYLES */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
img {
	max-inline-size: 100%;
	block-size: auto;
}
a {
	text-decoration: none;
	color: initial;
}
li {
	list-style: none;
}
section {
	margin-block-end: 2rem;
}

input:focus {
	outline: 2px solid var(--font-color2);
	outline-style: auto;
}

:root {
	font-size: 62.5%;
	scroll-behavior: smooth;

	/* COLORS */
	--primary-color: #00f2b5;
	--main-font-color: rgba(0, 0, 0, 0.9);
	--font-color2: white;
	--secondary-color: rgb(189, 175, 218);
	--font-color3: #9792a3;
	--third-color: #ffc771;
	--font-color4: #f0935d;

	/* FONTS */
	--main-font: 'Inter', sans-serif;
}

body {
	font-size: 1.6rem;
	font-family: var(--main-font);
	color: var(--main-font-color);
	font-weight: 300;
}

.wrapper {
	padding: 1rem;
}

.header {
	block-size: auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-radius: 8px;
	border-block-end: 1px solid rgba(0, 0, 0, 0.1);
	margin-block-end: 5rem;
}

.main-section {
	margin-block-end: 2rem;
}

.main-logo {
	inline-size: 4rem;
}

.greetings__container {
	margin-block-end: 5rem;
	letter-spacing: 0.5px;
	word-spacing: 1px;
	line-height: 2.2rem;
}

.greetings span,
.greetings__description span {
	font-weight: 600;
}

.greetings__icon,
.bot-icon {
	block-size: 2rem;
	vertical-align: middle;
}

.greetings__icon {
	block-size: 2rem;
}

.bot-icon {
	block-size: 4rem;
	position: relative;
	inset-block-end: 6px;
	animation: robot 4s ease-in-out 3s infinite;
}

@keyframes robot {
	0% {
		transform: translateY(-5px);
	}
	25% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(2px);
	}
	100% {
		transform: translateY(-5px);
	}
}

.nav__question {
	text-align: center;
	margin-block-end: 1rem;
	font-size: 1.5rem;
}

.nav ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 4rem 4rem;
	gap: 1rem;
}

.nav ul li {
	box-shadow: 0 0 8px 0 rgb(0, 0, 0, 12%);
	border-radius: 8px;
}

.nav ul li a {
	block-size: 100%;
	inline-size: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cards-container {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 290px;
	gap: 2rem;
	justify-content: center;
}

.section__title {
	font-size: 2.6rem;
	font-weight: 600;
	margin: 1rem;
}

.card {
	border-radius: 24px;
	padding: 1rem;
	font-size: 1.5rem;
	color: var(--font-color2);
	text-shadow: 0 0 30px black;
}

.card__title {
	margin-block-end: 1rem;
	font-weight: 600;
	font-size: 1.8rem;
}

.card__title img {
	width: 3rem;
	margin: 0.5rem;
	vertical-align: middle;
}

.inputs {
	margin-block-end: 1rem;
}

.card input,
.card select {
	padding: 1rem;
	border: none;
	border-radius: 8px;
	margin: 1rem 0 1rem 0;
	color: var(--font-color2);
}

.card input:focus,
.card select:focus {
	outline: 2px solid var(--font-color2);
	outline-style: auto;
}

.card input {
	background-color: rgba(255 255 255 / 20%);
}

.card select {
	background: transparent;
}

.card select * {
	color: black;
}

.card button {
	padding: 1rem;
	border: none;
	border-radius: 12px;
	font-weight: 600;
}

.card button:hover {
	cursor: pointer;
}

.card button:active {
	transform: scale(0.95);
}

.buttons {
	display: flex;
	justify-content: flex-start;
	gap: 1rem;
	margin-block-end: 1rem;
}

.result {
	inline-size: 100%;
	block-size: 4rem;
	line-height: 4rem;
	text-align: center;
	font-size: 1.8rem;
	font-weight: 600;
	border-block-end: 2px solid white;
	border-radius: 1.6rem;
}

.square {
	background-color: var(--primary-color);
}

.square__inputs {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 1rem;
}

.square select {
	inline-size: 6rem;
}

.square button {
	background-color: var(--font-color2);
	color: var(--primary-color);
}

.square button:focus {
	outline: 2px solid var(--primary-color);
	outline-style: auto;
}

.triangle {
	background-color: var(--secondary-color);
}

.triangle__inputs {
	display: flex;
	flex-direction: column;
	margin-block-start: 1rem;
	gap: 1rem;
}

.triangle__inputs input {
	display: block;
	inline-size: 100%;
	background: transparent;
	margin: 0;
	position: absolute;
	inset: 0;
}

.triangle__inputs input:focus {
	outline: none;
}

.triangle__inputs fieldset:hover {
	border: 2px solid white;
}

.triangle__inputs fieldset {
	border: 1px solid white;
	background-color: rgba(255 255 255 / 20%);
	border-radius: 12.5px;
	min-block-size: 6rem;
	position: relative;
}

.triangle__inputs fieldset legend {
	padding: 0.5rem;
}

.triangle button:focus {
	outline: 2px solid var(--secondary-color);
	outline-style: auto;
}

.triangle__buttons button {
	color: var(--font-color3);
}

.circle {
	background-color: var(--third-color);
}

.circle__buttons button {
	color: var(--font-color4);
}

.discounts-section {
	max-block-size: 100vh;
}

.discount__container {
	position: relative;
	background-color: var(--primary-color);
	display: grid;
	place-items: center;
	margin-block-start: 8rem;
	padding-block-end: 2rem;
}

.waves {
	position: absolute;
	inset-block-start: -12%;
	inset-inline-start: 0;
	inset-inline-end: 0;
	block-size: 100%;
	inline-size: 100%;
	background-image: url(./assets/wave.svg);
	background-position: top;
	background-repeat: no-repeat;
	z-index: -1;
}

.discount-card {
	block-size: 90vh;
	inline-size: 30rem;
	box-shadow: 0 0 32px 2px rgb(0 0 0 / 50%);
	border-radius: 4px;
}

.discount-card form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	block-size: 100%;
}

.discount-card form input {
	border: none;
	background-color: rgba(0 0 0 / 4%);
	text-align: center;
	color: rgba(0 0 0 / 80%);
	font-size: 6rem;
	letter-spacing: 0.5px;
	word-spacing: 1px;
	line-height: 2.2rem;
	inline-size: 50%;
}

.discount-card form input ~ span {
	font-size: 6rem;
}

.discount__input:first-of-type {
	box-shadow: 0 2px 1.2rem 0 rgb(0 0 0 / 50%);
	border-radius: 2px;
	z-index: 1;
}

.discount__input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	background-color: whitesmoke;
	color: var(--primary-color);
	block-size: 100%;
}

.discount__input > div {
	text-align: center;
}

.discount__input--final-price {
	background-color: var(--primary-color);
	color: whitesmoke;
}

.discount__input label,
.discount__input--final-price p {
	letter-spacing: 1.5px;
	word-spacing: 2px;
	line-height: 1rem;
	font-weight: 600;
	font-size: 1.4rem;
}

.discount__result {
	font-size: 6rem;
}

.statistics {
	position: relative;
	margin-block-start: 10rem;
	background-color: #4361ee;
	border-top-right-radius: 6rem;
	padding: 1rem;
	color: whitesmoke;
}

.statistics-content {
	margin-block-start: 2rem;
	background-color: white;
}

.statistics-text {
	margin-block-end: 1rem;
}

.statistics-text span {
	font-weight: 600;
}

.statistics-card {
	background-color: whitesmoke;
	padding: 1rem;
	border-radius: 8px;
	border: 2px solid var(--main-font-color);
	color: var(--main-font-color);
	font-weight: 600;
	box-shadow: 4px 4px 0 2px var(--main-font-color);
}

.form__small-txt {
	display: block;
	margin-block-end: 2rem;
}

.statistics__input {
	padding: 1rem;
	background: transparent;
	border: 2px solid var(--main-font-color);
	border-radius: 1rem;
	inline-size: 100%;
	margin-block-end: 1rem;
	color: var(--main-font-color);
	font-weight: 600;
	font-size: 1.8rem;
}

.statistics__input:focus {
	outline: none;
}

.statistics__input::placeholder {
	color: gray;
	font-size: 1.4rem;
}

.statistics-buttons {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-block-end: 2rem;
}

.statistic__button {
	background-color: white;
	color: var(--main-font-color);
	font-weight: 600;
	padding: 1rem;
	outline: none;
	border: 2px solid var(--main-font-color);
	border-radius: 2rem;
	box-shadow: 0px 4px 10px 0 rgb(0 0 0 / 40%), 6px 4px 0px 0px #4361ee;
}

.result-chosen,
.statistics__result {
	text-align: center;
}

.result-wrapper {
	padding: 1rem;
	block-size: 6rem;
}

.statistics__result {
	font-size: 2.4rem;
}
